<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Apie
    </ion-title>
    <ion-buttons end>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p>Šioje protmūšių programėlėje yra galima spręsti protmūšio testus ir taip sužinoti įdomybių susijusių su IT sritimi. Norint pradėti testą grįžtikite į pagrindinį meniu ir spauskite “Pradėti testą” išsprendę sužinosite kiek klausimų atsakėte teisingai.</p>
	<p>Jei norite peržiūrėti, kaip jums sekasi palyginus su kitais žaidėjais peržiūrėkite “Statistika”. Grįžkite į pagrindinį meniu ir spauskite “Statistika”</p>
	<p>Jūs galite padėti vystyti programėlę pateikdami savo testo klausimą ir atsakymus, jei jį pateiksite teisingai, moderatoriui patvirtinus jis atsiras tarp sprendžiamų kausimų. Norėdami pateikti klausimą grįžkite į pagrindinį meniu ir spauskite “Pateikti klausimą”.</p>
	<p>Naudojantis šia programėle gaite sukurti savo protmūšį ir jį pravesti. Jums reikės pirmiausia įvesti etapų kiekį, klausimų kiekį ir klausimui skiriamą laiką. Poto įvedus visus klausimus galite susigeneruoti nuorodą ir ją nusikopijavę į savo kompiuterį pravesti savo sukurtą protmūšį. Sukurti protmūšį galite grįžę į pagrindinį meniu ir pasirinkę “Kurti protmūšį”</p>
</ion-content>
