page-zaisti {
   
    .wrong{
      font-weight: bold;
      color:red;
    }
    .correct{
        color:green;
        font-weight: bold;
    } 
    ion-card.adv-map p {
    font-size: 0.7em !important;
    }
    ion-label p{
        padding-right: 60px;
        text-overflow: initial;
        white-space: initial;
    }
    button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
    }
    .question.item-md{
        background-color: #37474F;
        .label-md p{
            font-size: 16px !important;
            font-weight: 500;
            color:white;
        }
    }
    .card-md{
        margin: 0;
        width: 100%;
    }
    ion-fab[right] {
    right: 30px;
    }
    ion-fab[bottom]{
        bottom: -30px;
    }
    .item-bold {
    font-weight: bold;
    }

    ion-content.cards-bg {
    background-color: #f4f4f7;
    }
    ion-icon.test-close{
        display: inline-block;
        font-size: 25px;
        position: absolute;
        left: 12px;
        top: 12px;
        z-index:2;
        color: white;
    }
    ion-card img{
        min-height: 250px;
        max-height: 260px;
        object-fit: contain;
    }
    ion-icon.test-menu{
        display: inline-block;
        font-size: 25px;
        position: absolute;
        right: 12px;
        top: 12px;
        z-index:2;
        color: white;
    }
    .img-filter{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.39);
    }
}
