<!--
  Generated template for the Zaisti page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content >
  <ion-card class="adv-map">
  <div style="position: relative">
      <ion-icon (click)="closeQuestions()" name='md-close' class="test-close"></ion-icon>
      <!--<ion-icon name='md-menu' class="test-menu"></ion-icon>-->
    <div class="img-filter"></div>
    <img [src]="'assets/img/questions/' + questions[currentQuestion].Id + '.jpg'" onerror="this.onerror=null;this.src='assets/img/placeholder.jpg'">
    <ion-fab right bottom>
      <button  (click)="nextQuestion()"  ion-fab class="fab-map">
        <ion-icon name='arrow-forward'></ion-icon>
      </button>
    </ion-fab>
  </div>
  <ion-item class="question">
    <p>{{questions[currentQuestion].Question}}</p>
  </ion-item>
</ion-card>
   <ion-list padding>
    <ion-item>
        <ion-label [ngClass]="{'correct': this.state == 'check' && finalData[currentQuestion][0] && item1 || this.state == 'check' && !item1 && !finalData[currentQuestion][0], 'wrong' : this.state == 'check' && !finalData[currentQuestion][0]}">{{questions[currentQuestion].Answ1}}</ion-label>
        <ion-checkbox name="item-0" [(ngModel)]="item1"></ion-checkbox>
    </ion-item>
   <ion-item>
       <ion-label [ngClass]="{'correct': this.state == 'check' && finalData[currentQuestion][1] && item2 || this.state == 'check' && !item2 && !finalData[currentQuestion][1], 'wrong' : this.state == 'check' && !finalData[currentQuestion][1]} " >{{questions[currentQuestion].Answ2}}</ion-label>
       <ion-checkbox name="item-1" [(ngModel)]="item2"></ion-checkbox>
   </ion-item>
   <ion-item>
       <ion-label [ngClass]="{'correct': this.state == 'check' && finalData[currentQuestion][2] && item3 || this.state == 'check' && !item3 && !finalData[currentQuestion][2], 'wrong' : this.state == 'check' && !finalData[currentQuestion][2]}" >{{questions[currentQuestion].Answ3}}</ion-label>
       <ion-checkbox name="item-2" [(ngModel)]="item3"></ion-checkbox>
   </ion-item>
   <ion-item>
       <ion-label [ngClass]="{'correct': this.state == 'check' && finalData[currentQuestion][3] && item4 || this.state == 'check' && !item4 && !finalData[currentQuestion][3], 'wrong' : this.state == 'check' && !finalData[currentQuestion][3]}" >{{questions[currentQuestion].Answ4}}</ion-label>
       <ion-checkbox name="item-3" [(ngModel)]="item4"></ion-checkbox>
   </ion-item>
  </ion-list>
</ion-content>
