page-home {
  //utils
  ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
  }
  .HomeTop{
    position: relative;
    display: flex;
    .HomeTop-icon{
      position: absolute;
      right:18px;
      top:15px;
      font-size:30px;
    }
    .HomeTop-image{
      max-height: 320px;
      object-fit: cover;
      width: 100%;
    }
  }
  .HomeStatus{
    background: #37474F;
    height:50px;
    display: flex;
    align-items: center;
    padding-left:30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .HomeStatus-text{
      color: white;
      font-weight: 500;
    }
  }
  .HomeLauncher{
    background: #FAFAFA;
    padding-top: 32px;
    .HomeLauncher-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .HomeLauncher-item{
      display: flex;
      width: 33%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    .HomeLauncher-circle{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #015B9A;
      opacity: 1.00;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
      width: 66px;
      height: 66px;
      margin-bottom: 18px;

    }
    .HomeLauncher-icon{
      color: white;
      font-size: 34px;
    }
    .HomeLauncher-value{
      font-weight: 500;
      font-size: 14px;
      color: #4F4F4F;
    }
  }
}
