

<ion-content>
  <section class="HomeTop">
    <img src="assets/img/homelogo.png" class='HomeTop-image' alt="">
    <!--<ion-icon name="ios-log-out" class="HomeTop-icon"></ion-icon>-->
  </section>
  <section class="HomeStatus">
    <span class="HomeStatus-text">Programėlė paruošta naudojimuisi</span>
  </section>
  <section class="HomeLauncher">
    <ul class="HomeLauncher-list">
      <li class="HomeLauncher-item">
        <button ion-button (click)="sprestiTesta()" class="HomeLauncher-circle">
           <ion-icon name="md-document" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Pradėti testą</div>
      </li>
      <li class="HomeLauncher-item">
        <button (click)="scores()" ion-button class="HomeLauncher-circle">
          <ion-icon name="ios-stats" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Statistika</div>
      </li>
      <li class="HomeLauncher-item">
        <button ion-button (click)="kurtiKlausima()" class="HomeLauncher-circle">
          <ion-icon name="ios-list" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Pateikti klausimą</div>
      </li>
      <li class="HomeLauncher-item">
        <button ion-button (click)="brainfight()" class="HomeLauncher-circle">
          <ion-icon name="ios-create" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Kurti protmūšį</div>
      </li>
      <li class="HomeLauncher-item">
        <button ion-button (click)="questionCheck()" class="HomeLauncher-circle">
          <ion-icon name="md-alert" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Tikrinti klausimą</div>
      </li>
      <li class="HomeLauncher-item">
        <button (click)="apie()" ion-button class="HomeLauncher-circle">
          <ion-icon name="md-information-circle" class="HomeLauncher-icon"></ion-icon>
        </button>
        <div class="HomeLauncher-value">Apie</div>
      </li>


    </ul>
  </section>
</ion-content>
