page-create {
  .input-cover{
    display: none !important;
  }

  input[type="file"]{
    background: red;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label[for="file"]{
    margin: 30px 0;
    width: 100%;
    min-height: 90px;
    border: 3px solid #4F4F4F;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }
  .desc{
    margin: 10px 0;
    margin-bottom:30px;
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    color: #828282;
    opacity: 1.00;

  }
  .full-button{
    color:white;
    background: #37474F;
    margin-left:-17px;
    width: calc(100% + 17px + 17px);
    padding: 37px 0;
    font-weight: 500;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    ion-icon{
      font-size: 37px;
      margin-right: 10px;
    }
  }
  .footer{
    height: 70px;
    text-align: right;
  }
  .file{
    .file-plus{
      position: relative;
      top: -5px;
    }
  }
  .button{
    &.borderless{
      margin: 0;
      height: 100%;
      padding: 0;
      width: 50%;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      color: #4F4F4F;
      opacity: 1.00;
      background: white;
      box-shadow: none;
    }
  }
  .header-text{
    margin-top: 17px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1.00;
  }

  .question-list{
    .item-cover{
      width: 55px;
    }
    .input-cover{
      position: absolute;
      top: 0;
      right: 0;
      width: 79%;
      height: 100%;
    }

  }
  .list-md .item-input:last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, item.input-has-focus{
    border: 0;
    box-shadow: none;
  }
  .list-md > .item-block:last-child .item-inner{
    border-bottom: 1px solid #dedede;
  }
  .list-md .item.input-has-focus .item-inner{
    border-bottom: 1px solid #387ef5;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
  }
  .list-md .item-input:last-child{
    border-bottom: 0;
  }
  .list-md .item-input.input-has-focus:last-child{

    box-shadow: none;
  }
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    box-shadow: inset 0 -1px 0 0 #32db64 !important;
  }
  .center-input{
    text-align: center;
    -webkit-appearance: none;
    border: 0;
    background: none;
    height: 98px;
    position: absolute;
    width:100%;
  }
}
