<!--
  Generated template for the Create page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Kurti klausimą
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="info()">
        <ion-icon  name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <!--<input type="file" ng2FileSelect [uploader]="uploader" /> -->
    <!--<button type="button" class="btn btn-success btn-s"-->
            <!--(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
        <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
    <!--</button>-->
    <!--<div [formGroup]="myGroup">-->
        <!--<input formControlName="firstName">-->
        <!--<input type="file" formControlName="filas">-->
    <!--</div>-->

    <input type="file" name="test" id="file" (change)="onChange($event)">
    <label for="file">
      <span class="file-plus">
          +
      </span>
      <img class="file-image" alt="">
    </label>
    <span class="desc">Pridėti nuotrauką</span>
    <div class="button full-button" (click)="hidePlaceholder()">
      <ion-icon *ngIf="showIcon" name="add-circle"></ion-icon>
      <input type="text" class="center-input" [(ngModel)]="question">
      <span contenteditable="true" (input)="model=$event.target.textContent" [textContent]="model">Pridėti klausimą</span>
    </div>
    <ion-row *ngIf="!hideQuestions">
      <ion-col >
        <div class="header-text">Atsakymai</div>
      </ion-col>
    </ion-row>
    <ion-list class="question-list" *ngIf="!hideQuestions">
      <ion-item  *ngFor="let a of answers">
        <ion-checkbox  [(ngModel)]="a.selected"></ion-checkbox>
        <ion-input [(ngModel)]="a.input" placeholder="Atsakymas"></ion-input>
      </ion-item>
    </ion-list>


</ion-content>
<ion-footer>
  <button ion-button (click)="submit()" class="borderless" color="light">Pateikti</button>
</ion-footer>
