<!--
  Generated template for the BrainfightCreate page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        Kurti protmūšį
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="info()">
        <ion-icon  name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="Steps">
      <div class="Steps-item" [ngClass]="{'Steps-item-active': stepState.current == 1,'Steps-item-done': stepState.current > 1}">1</div>
      <div class="Steps-line"> </div>
      <div class="Steps-item" [ngClass]="{'Steps-item-active': stepState.current == 2,'Steps-item-done': stepState.current > 2}">2</div>
      <div class="Steps-line"> </div>
      <div class="Steps-item" [ngClass]="{'Steps-item-active': stepState.current == 3,'Steps-item-done': stepState.current > 3}">3</div>
      <div class="Steps-line"> </div>
      <div class="Steps-item" [ngClass]="{'Steps-item-active': stepState.current == 4,'Steps-item-done': stepState.current > 4}">4</div>
      <div class="Steps-line"> </div>
      <div class="Steps-item" [ngClass]="{'Steps-item-active': stepState.current == 5,'Steps-item-done': stepState.current > 5}">5</div>
  </div>
  <div class="MiniForm" *ngIf="stepState.current == 1">
    <div class="MiniForm-label">Etapų kiekis?</div>
      <input type="number" class="MiniForm-input" [(ngModel)]="dataState.etapuSk">
  </div>
    <div class="MiniForm" *ngIf="stepState.current == 2">
        <div class="MiniForm-label">{{stepState.etapas + 1}} Etapas</div>
        <br>
        <div class="MiniForm-label">Klausimui skirtas laikas</div>
        <div class="MiniForm-time">
            <input type="number" class="MiniForm-input--small" [(ngModel)]="dataState.etapai[stepState.etapas].laikas.min">
            <span class="MiniForm-splitter">:</span>
            <input type="number" max="59" class="MiniForm-input--small" [(ngModel)]="dataState.etapai[stepState.etapas].laikas.sec">
        </div>
    </div>
    <div class="MiniForm" *ngIf="stepState.current == 3">
        <div class="MiniForm-label">{{stepState.etapas + 1}} Etapas</div>
        <br>
        <div class="MiniForm-label">Klausimų kiekis?</div>
        <input type="number" class="MiniForm-input" [(ngModel)]="dataState.etapai[stepState.etapas].klausimaiSk">
    </div>
    <div class="MiniForm" *ngIf="stepState.current == 4">
        <div class="MiniForm-header--large">{{stepState.klausimas + 1}} Klausimas</div>
        <p class="MiniForm-header">Pasirinkti klausimo tipą:</p>
        <div class="MiniForm-button" (click)="fillQuestion(false)">Uždaras</div>
        <div class="MiniForm-button" (click)="fillQuestion(true)">Atviras</div>
        <hr class="MiniForm-line">
        <!--<div class="MiniForm-button--green">
            PASIŪLYTI KLAUSIMĄ
        </div>-->
    </div>
    <div class="MiniForm" *ngIf="stepState.current == 5">
        <div class="MiniForm-label">Etapas pabaigtas!</div>
    </div>
   

</ion-content>
<ion-footer>
  <div class="ButtonContainer" *ngIf="stepState.current < 5">
      <button ion-button (click)="prevState()" class="borderless" color="light">Atgal</button>
      <button ion-button (click)="nextState()" class="borderless" color="light">Toliau</button>
  </div>  
  <div class="ButtonContainer" *ngIf="stepState.current == 5">
      <button ion-button class="borderless" color="light"></button>
      <button ion-button (click)="nextEtapas()" class="borderless" color="light">PILDYTI KITĄ ETAPĄ</button>
  </div>
</ion-footer>
