page-brainfight-create {
    .footer-md{
      display: flex;
      justify-content: space-between;
      height: 50px;
    }
    .Steps{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 110px;
        .Steps-line{
            height: 5px;
            background: #2D9CDB;
            width: 50px;
            display: inline-flex;
        }
        .Steps-item{
            border-radius: 100%;
            border:2px solid #2D9CDB;
            color:black;
            width: 28px;
            height: 28px;
            text-align: center;
            /* line-height: 28px; */
            display: flex;
            font-size: 11px;
            justify-content: center;
            align-items: center;

        }
        .Steps-item-active{
             border:4px solid #2D9CDB;
        }
        .Steps-item-done{
            color:white;
            background: #2D9CDB;
        }
    }
    .button{
      &.borderless{
        margin: 0;
        height: 100%;
        padding: 0;
        width: 50%;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        color: #4F4F4F;
        opacity: 1.00;
        background: white;
        box-shadow: none;
      }
    }
  .MiniForm{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center; 
    .MiniForm-label{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #4F4F4F;
      opacity: 1.00;
      min-width: 50px;
      margin-bottom: 25px;
    }
    .MiniForm-input{
      text-align: center;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-bottom: solid 5px rgba(79, 79, 79, 0.8);
      font-size: 25px;
    }
    .MiniForm-time{
      display: inline-flex;
    }
    .MiniForm-splitter{
      font-size:25px;
    }
    .MiniForm-line{
      
    }
    .MiniForm-button{
      /* Rectangle 4 */
      background: #1565C0;
      opacity: 1.00;
      width:319px;
      height: 59px; 
      text-transform: uppercase;
      margin: 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0.9px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .MiniForm-header--large{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #000000;
      opacity: 1.00;
      margin-bottom: 50px;
    }
    
    .MiniForm-button--green{
      @extend .MiniForm-button;
      background:#219653;
    }
    .MiniForm-input--small{
      @extend .MiniForm-input;
      width: 60px;
    }
  }
  .ButtonContainer{
    display: flex;
    width:100%;
  }
}
