page-question-list {
    
}
.QuestionElement{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        padding: 10px 0;
        .QuestionElement-text{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
        opacity: 1.00;

        }
        .QuestionElement-options{
            display: flex;
            .QuestionElement-icon{
                margin: 0px 5px;
                ion-icon{
                    font-size: 24px;
                }
            }
        }
    }
