<!--
  Generated template for the QuestionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tikrinti klausimus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="QuestionElement" *ngFor="let b of a"> 
    <div class="QuestionElement-text">{{b}} Klausimas</div>
    <div class="QuestionElement-options">
      <div class="QuestionElement-icon">
        <ion-icon name="md-checkmark"></ion-icon>
      </div>
      <div class="QuestionElement-icon">
        <ion-icon name="md-close"></ion-icon>
      </div>
      <div class="QuestionElement-icon">
        <ion-icon name="md-eye"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
