<!--
  Generated template for the Brainfight page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        Kurti protmūšį
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="info()">
        <ion-icon  name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <div class="AddButton" (click)="createTest()">
    <div class="AddButton-icon">
      <ion-icon name="add-circle"></ion-icon>
    </div>
    <div class="AddButton-text">Pridėti naują protmūšį</div>
  </div>
</ion-content>
