page-brainfight {
  .AddButton{
    display: flex;
    align-items: center;
    .AddButton-icon{
      margin-right:10px;
      font-size: 26px;
    }
    .AddButton-text{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #000000;
      opacity: 1.00;

    }
  }
}
