<!--
  Generated template for the BrainfightListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Protmūšio sąrašas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="copy()">
        <ion-icon  name="md-link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<div class="QuestionElement" *ngFor="let etapas of dataState.data.etapai; let i = index; "> 
    <div class="QuestionElement-text">{{i+1}} Etapas</div>
    <div class="QuestionElement-children">
        <div class="QuestionElement" *ngFor="let b of etapas.klausimai; let j = index; "> 
        <div class="QuestionElement-text">{{j+1}} Klausimas</div>
        </div>
    </div>
    
</div>
</ion-content>
