<!--
  Generated template for the Highscore page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="home()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Rekordai
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="info()">
        <ion-icon  name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index;">
      <b>{{i+1}}.</b> {{ item }}
    </ion-item>
  </ion-list>
</ion-content>