<!--
  Generated template for the TestDone page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <span>rezultatai</span>
  <ion-icon name='md-close' (click)="closeTest()" class="close-right" right top></ion-icon>
</ion-header>


<ion-content>
  <div class="score">
    <div class="wheel">
      <div class="point"></div>
    </div>
    <div class="heading">{{correct*10}} taškų</div>
    <div class="sub-heading">{{correct}}/{{testData.length}} teisingi</div>
  </div>
  <div class="tab-menu">
    <button ion-button (click)="sameTest()">kartoti</button>
    <button ion-button (click)="newTest()">naujas</button>
  </div>
  <div class="answers-container">
    <div class="item" *ngFor="let item of items;" (click)="jumpToQuestion(item.number)" [class]="item.correct == true ? 'item green' : 'item red'">
      {{item.number+1}}
    </div>
  </div>
</ion-content>
