page-test-done, page-test-done ion-content.content-md{
  background-color: #37474F;
  color:white;
}
page-test-done{
  ion-header.header-md{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    background-image: none;
    &:after{
      background: none;
    }
  }
  .close-right{
    position: absolute;
    right: 20px;
  }
  .score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 150px;
    padding-top: 30px;
    box-sizing: border-box;
    .wheel{
      border-radius: 100%;
      width: 337px;
      height: 337px;
      border: 4px solid white;
      position: absolute;
      top: 0px;
      .point{
        
      }
    }
    .heading{
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 100%;
      color: #23CA69;
      opacity: 1.00;
      padding-bottom: 23px;

    }
    .sub-heading{
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0.9px;
      color: #FAFAFA;
      opacity: 1.00;

    }
  }
  .tab-menu{
    display: flex;
    margin-left: -16px;
    width: calc(100% + 32px);
    background: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    button.button{
      &:first-child span{
        height:34px;
        border-right: 1px solid hsla(0, 0%, 0%, 0.12);
      }
      margin: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
      color: #4F4F4F;
      opacity: 1.00;
      background: white;
      box-shadow: none;
    }
  }
  .answers-container{
    justify-content: center;
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    .item{
      box-sizing: border-box;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      align-items: center;
      text-align: center;
    
      border-radius: 100%;
      height: 38px;
      width: 38px;
      margin: 10px;
      display: block;
      line-height: 38px;
      &.red{
        background: #EB5757;
        color:white;
      }
      &.green{
        color: #85EFB1;
      }
    }
  }
}

